
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container">
            {{ if eq (.Param "multilingual") true }}
                {{ partial "multilingual-sel.html" . }}

                <!-- Chinese Version -->
                <div class="zh post-container">
                    {{$file :=  "/company/about-zh.md"}}
                    {{ $file | readFile | markdownify}}
                </div>
            
                <!-- English Version -->
                <div class="en post-container">
                    {{$file :=  "/company/_index.md"}}
                    {{ $file | readFile | markdownify}}
                </div>
            {{ else }}

                    {{$file :=  "/company/_index.md"}}
                    {{ $file | readFile | markdownify}}
            {{ end }}
             
            {{ partial "comments.html" . }}
            
            </div>
            
            <!-- Side Catalog Container -->
            {{ if not (eq (.Param "showtoc") false) }}
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
            {{ end }}

        </div>
    </div>
</article>


